// Slider single slide bg text common style

.slide_bg-text {
	position: absolute;
	z-index: 0;
	display: inline-block;
	font-size: 6.85rem;
	line-height: 4.5rem;
	letter-spacing: -.33rem;
	font-weight: 700;
	text-transform: uppercase;
	user-select: none;
	color: $color-dark;
	opacity: .1;
}