// Slider single slide content container

.slide_container {
	position: absolute;
	z-index: 50;
	left: $nav-close-width;
	top: 0;
	bottom: 0;
	height: 100%;

	&.w-f {
		@include indentation(right);
	}

	&.w-75 {
		right: 25%;
	}

	&.w-83 {
		width: 87.5%;
	}
}