// Slider single slide

.slider_slide {
	overflow: hidden;
	padding-left: $nav-close-width;
	background-color: $color-light;
}

.slider_slide.active {
	.slide_container {
		transform: translateY(0);
	}
}