// Header change bg item

.header_change-bg_item {
	position: absolute;
	@include align(c,c);
	height: 100%;
	width: 100%;
	opacity: 0;
	animation: changeBgAnimation 50s infinite paused;
	transform-origin: top left;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&:nth-child(1) {
		animation-delay: 0s;
		background-image: url('../img/header/bg-1.jpg');
	}

	&:nth-child(2) {
		animation-delay: 10s;
		background-image: url('../img/header/bg-2.jpg');
	}

	&:nth-child(3) {
		animation-delay: 20s;
		background-image: url('../img/header/bg-1.jpg');
	}

	&:nth-child(4) {
		animation-delay: 30s;
		background-image: url('../img/header/bg-2.jpg');
	}

	&:nth-child(5) {
		animation-delay: 40s;
		background-image: url('../img/header/bg-1.jpg');
	}
}