// Change bg

.header_change-bg {
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	// Darken bg

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: $header-bg-darken-size;
		z-index: 5;
	}
}

// Change bg animation

@keyframes changeBgAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	8% {
		opacity: 1;
		transform: scale(1.05) translate(-50%, -50%);
		animation-timing-function: ease-out;
	}
	17% {
		opacity: 1;
		transform: scale(1.1) translate(-50%, -50%);
	}
	25% {
		opacity: 0;
		transform: scale(1.1) translate(-50%, -50%);
	}
	100% {
		opacity: 0;
	}
}

