// Products block animation

// .products {
// 	background-color: $color-light;
// 	transition: all .5s;

// 	.slide_container {
// 		transition: all 0s 1.5s;
// 	}

// 	.slide_container {
// 		right: 100%;
// 	}
// }

// // Active

// .products.active {
// 	background-color: #eee;
// 	transition: background-color .5s 1.5s;

// 	.slide_container {
// 		right: 25%;
// 		transition: right 1s 1.5s $ease-in-out-quart;
// 	}
// }

.products_product_nav_item {
	opacity: 0;
	transition: opacity 1s;
}

.slick-slide.slick-active {
	.products_product_nav_item {
		opacity: 1;
		transition: opacity 1s .5s;
	}
}