// Products single slide images

.products_product_images {
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 77.77%;
	height: $products-slider-height;
	box-shadow: 25px 0px 100px 0px rgba(0, 0, 0, 0.3);

	&_item {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		background-color: $color-medium;

		img {
			position: absolute;
			@include align(c,c);
			min-height: 100%;
			min-width: 100%;
			opacity: 0;

			transition: opacity 1s $ease-in-out-quart;
		}
	}
}

// Active img

.products_product_images_item img.is-active {
	opacity: 1;
}