// Products single slide nav

.products_product_nav {
	position: absolute;
	@include align(l,c);
	z-index: 10;
	width: 100%;

	&_item.mini-margin li {
		margin: .25rem 0;
	}

	li {
		position: relative;
		display: inline-block;
		margin: .42rem 0;
		color: $color-light;
		transition: all .5s $ease-in-out-quart;

		&:after {
			content: "";
			position: absolute;
			@include align(l,c);
			left: calc(100% + .46rem);
			height: 2px;
			width: 0;
			background-color: $color-pink;

			transition: width .5s $ease-in-out-quart;
		}

		&:hover {
			color: $color-pink;
			margin-left: .42rem;

			&:after {
				width: 1.39rem;
			}
		}
	}
}

.slick-initialized .slick-slide {
	display: inline-block;
	vertical-align: middle;
	float:none;
}