// Products

@import "variables";
@import "category";
@import "product";
@import "nav";
@import "images";
@import "animation";

.products {
	&-section {
		position: relative;
		width: 75%;
		height: 100%;
		background-color: #121212;
	}

	.slide_bg-text {
		position: absolute;
		color: $color-light;
		opacity: .02;
		bottom: 0;
	}

	.button-line {
		position: absolute;
		transform: rotate(90deg);
		right: -31%;
		bottom: 45%;
	}
}