// Tariffs choice

.tariffs_choice {
	position: absolute;
	z-index: 10;
	@include align(l,c);
	left: 16.96%;
	width: 38.45%;
	height: 66.66%;

	&_list {
		position: absolute;
		@include align(c,c);
		width: 50%;
	}

	&_item {
		margin: 1.5rem 0;

		transition: color .5s;

		&:hover {
			color: $color-pink;
		}
	}
}

// Line

.tariffs_choice:after {
	content: "";
	position: absolute;
	@include align(r,c);
	left: 110%;
	width: 17.15%;
	height: 2px;
	background-color: $color-seagull;
}