// Tariffs info

.tariffs_info {
	position: absolute;
	@include align(r,c);
	right: 4.16%;
	width: 25%;

	text-align: left;

	&_item {
		position: absolute;
		@include align(c,c);
		width: 100%;
		opacity: 0;

		transition: opacity .5s;
	}

	&_number {
		font-size: 2.75rem;
		font-weight: 300;
		margin-left: -.16rem;
	}

	&_decription {
		margin-top: .18rem;
		margin-bottom: 1rem;
	}

	&_list_item {
		margin-bottom: .33rem;
	}
}

// Active info item

.tariffs_info_item.is-active {
	opacity: 1;

	transition: opacity 1s .5s;
}