.footer-wrapper {
    background-color: #eee;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1450px;
    margin: 0 auto;
    padding: 80px 40px;
    box-sizing: border-box;

    @media (max-width: 992px) {
        padding: 40px;
        flex-direction: column;
        align-items: center;
        text-align: center
    }
   
    &__column {
        width: 300px;
        margin: 0 20px;

        .column-title {
            font-size: 22px;
            line-height: 33px;
            margin-bottom: 40px;
            

        }

        .column-content {
            font-size: 16px;
            line-height: 24px;

            a, p {
                font-size: 16px;
                line-height: 24px;
                color: $color-dark;
            }
            
        }

        @media (max-width: 992px) {
            margin-bottom: 30px;
        }
    }

    &__logo {
        margin-bottom: 10px;
    }
}