// Common styles for button

.button {
  cursor: pointer;
  user-select: none;
}

.button-1 {
	display: inline-block;
	margin-top: 1.5rem;
	padding: 0 .58rem;
	line-height: 1rem;
	font-size: .25rem;
	font-weight: 300;
	letter-spacing: .02rem;
	text-transform: uppercase;
	text-align: center;
	color: $color-light;
	background-color: $color-pink;

	transition: background-color .5s;
}

.button-line {
	position: relative;
	display: inline-block;
	color: $color-dark;
	letter-spacing: .06rem;

	transition: color .5s;

	&:before,
	&:after {
		content: "";
		position: absolute;
		@include align(l,c);
		left: calc(100% + .46rem);
		height: 2px;
	}

	&:before {
		width: 1.39rem;
		background-color: $color-seagull;
	}

	&:after {
		width: 0;
		background-color: $color-pink;
		transition: width 1s $ease-in-out-quart;
	}
}

// Hover

.button-1:hover {
	background-color: $color-seagull;
}

.button-line:hover {
	color: $color-pink;

	&:after {
		width: 1.39rem;
	}
}