@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p70w2e');
  src:  url('fonts/icomoon.eot?p70w2e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p70w2e') format('truetype'),
    url('fonts/icomoon.woff?p70w2e') format('woff'),
    url('fonts/icomoon.svg?p70w2e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play_circle_filled:before {
  content: "\e038";
}
.icon-play_circle_outline:before {
  content: "\e039";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
