// Nav fixed bar for logo, hamburger and sound button

.nav_fixed-bar {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: $nav-close-width;
	background-color: inherit;
}