// Nav hamburger

.nav_hamburger {
	position: absolute;
	@include align(c,c);
	width: $hamburger-width;

	transition: all .5s $ease-in-out-quart;

	.hamburger_line {
		height: $hamburger-line-height;
		width: 100%;
		background-color: $color-light;

		&.center {
			margin: $hamburger-margin 0;
		}
	}
}