// Nav logo

.nav_logo {
	position: absolute;
	z-index: 20;
	@include align(c,t);
	@include indentation(top);
	width: $logo-width;
	height: $logo-width * $logo-size-correlation;
	overflow: hidden;

	transition: width .5s $ease-in-out-quart;

	.logo_icon {
		float: left;
		width: auto;
		height: 100%;
	}

	.logo_text {
		position: absolute;
		left: $logo-width * .83;
		top: 66.66%;
		height: $logo-icon-text-correlation;
		margin-left: 1rem;

		transition: margin-left .5s $ease-in-out-quart;
	}
}