// Nav menu item

.nav_menu_item {
	display: block;
	color: $color-light;
	border-bottom: $nav-menu-item-border-size solid $color-medium;
	font-size: $nav-menu-font-size;
	letter-spacing: $nav-menu-font-spacing;
	text-align: center;
	text-transform: uppercase;
	padding: .5rem 0;
	transition: color .5s;

	&:last-child {
		border: none;
	}

	&:hover {
		color: $color-pink;
	}
}