// Nav sound button

.nav_sound {
	position: absolute;
	width: $sound-button-size;
	height: $sound-button-size;
	@include align(c,b);
	@include indentation(bottom);

	.sound_bar {
		float: left;
		width: $sound-button-size / 4;
		height: 100%;
		background-color: #fff;
		animation: soundBarAnimation infinite alternate;

		&.left {
			animation-duration: .5s;
		}

		&.center {
			margin: 0 $sound-button-size / 8;
			animation-duration: .6s;
		}

		&.right {
			animation-duration: .7s;
		}
	}
}

// Animation

@keyframes soundBarAnimation {
	from {
		height: 5%;
		margin-top: 95%;
	}
	to {
		height: 100%;
		margin-top:  0;
	}
}

// Muted state styles

.nav_sound.is-muted {
	.sound_bar {
		animation-play-state: paused;
	}
}