// Nav

@import "./variables";
@import "./fixed-bar";
@import "./logo";
@import "./hamburger";
@import "./sound";
@import "./menu";
@import "./menu-item";
@import "./contact";

.nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: $nav-close-width;
	background-color: $color-dark;

	transition: width .5s $ease-in-out-quart;
}

// Open nav state styles

.nav.is-open {
	.nav_logo {
		width: 2rem;

		transition: width .5s .5s $ease-in-out-quart;
	}

	.logo_text {
		margin-left: 0;

		transition: margin-left .5s .5s $ease-in-out-quart;
	}

	.nav_hamburger {
		width: 0;
		opacity: 0;
	}

	.nav_menu,
	.nav_contact {
		opacity: 1;
		pointer-events: auto;

		transition: opacity .5s .5s $ease-in-out-quart;
	}
}

// Media

.nav.is-open {
	@media only screen and (max-width: 767px) {
		width: $nav-open-width-mobile;
	}

	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		width: $nav-open-width-tablet;
	}

	@media only screen and (min-width: 1201px) {
		width: $nav-open-width-desktop;
	}
}