// About block animation

.about {
	.slide_bg-text,
	.about_video,
	.about_text,
	.about_text_paragraph,
	.about_text_button,
	.button-line {
		transition: all 0s 1.5s;
	}

	.slide_bg-text {
		right: 0;
		opacity: 0;
	}

	.about_text {
		margin-top: 3.5rem;
		opacity: 0;
	}

	.about_text_paragraph {
		transform: translateY(2rem);
		opacity: 0;
	}

	.button-line,
	.about_text_button {
		transform: translateY(2rem);
		opacity: 0;
	}

	.about_video {
		transform: translateY(0);
		opacity: 0;
	}
}

// Active slide

.about.active {
	.slide_bg-text {
		right: 23%;
		opacity: .1;

		transition: all 3s $ease-in-out-quart;
	}

	.about_video {
		transform: translateY(-50%);
		opacity: 1;

		transition: all 3.5s $ease-in-out-quart;
	}

	.about_text {
		margin-top: 0;
		opacity: 1;

		transition: all 1.5s 2s $ease-in-out-quart;
	}

	.about_text_paragraph,
	.about_text_button {
		transform: translateY(0);
		opacity: 1;
	}

	.about_text_paragraph {
		transition: transform 1.5s 2.25s $ease-in-out-quart,
								opacity 1.5s 2.25s $ease-in-out-quart,
								max-height 1s $ease-out-quart;
	}

	.button-line {
		transform: translateY(0);
		opacity: 1;
		transition: transform 1.5s 2.5s $ease-in-out-quart,
								opacity 1.5s 2.5s $ease-in-out-quart;
	}

	.about_text_button {
		transition: transform 1.5s 2.75s $ease-in-out-quart,
								opacity 1.5s 2.75s $ease-in-out-quart,
								background-color .5s;
	}
}