// About video

.about_video {
	position: absolute;
	@include align(r,c);
	right: 8.33%;
	z-index: 10;
	height: 50%;
	width: 50%;
	background-color: #555;

	&_overflow {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 20;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-image: url("../img/about/video-cover.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&_source {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&_play {
		position: absolute;
		@include align(c,c);
		font-size: .83rem;
		color: $color-light;

		transition: all .5s;
	}
}

// Hover

.about_video:hover {
	.about_video_play {
		color: $color-pink;
	}
}

// Open

.about_video.is-open {
	.about_video_play {
		opacity: 0;
	}
}