// Contact form feedback

.contact_feedback {
	position: absolute;
	z-index: 5;
	@include align(l,c);
	left: 10%;
	width: 33.33%;
	color: $color-light;

	form {
		margin-top: 1.66rem;
	}

	input, select {
		box-sizing: border-box;
		float: left;
		width: 100%;
		padding: .33rem .26rem;
		background-color: rgba($color: #000000, $alpha: 0);
		border: 0;
		border-bottom: 1px solid $color-light;
		outline: 0;
		color: $color-light;
	}

	select {
		margin-bottom: .18rem;
	}

	option {
		color: $color-dark;
	}

	input {
		padding: .33rem .33rem;
	}

	input::placeholder {
		font-weight: 300;
		color: $color-light;
	}

	&_send {
		box-sizing: border-box;
		min-width: 50%;
		margin-top: 1.4rem;
	}
}