// Contact media style

.contact {
	&_image {
		@media only screen 	and (min-width: 1200px)
												and (max-width: 1599px)
												and (max-height: 800px) {
			top: -5%;
			width: auto;
			height: 56%;
		}

		@media only screen 	and (min-width: 1600px)
												and (max-height: 900px) {
			top: -5%;
			width: auto;
			height: 55%;
		}
	}

	&_get-info .p-2 {
		@media only screen 	and (min-width: 1200px)
												and (max-width: 1599px)
												and (max-height: 800px) {
			margin-bottom: .5rem;
		}

		@media only screen 	and (min-width: 1600px)
												and (max-height: 900px) {
			margin-bottom: .5rem;
		}
	}
}