// Contact block

@import "./image";
@import "./feedback";
@import "./get-info";
@import "./media";

.contact {
	background-color: #101010;

	.slide_bg-text {
		color: $color-light;
		opacity: .01;
		right: 25%;
		top: 73%;
		transform: translate(50%, -50%) rotate(90deg);
	}
}

.slider_slide.contact.active {
	.borders {
		.line-3 { transition-delay: 1.5s; }
		.line-4 { transition-delay: 2s; }
	}
}